<template>
  <div id="app">
    <todoapplication></todoapplication>
  </div>
</template>

<script>
import todoapplication from './components/todoapplication.vue'

export default {
  name: 'App',
  components: {
    todoapplication
  }
}
</script>

